<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Cadastrar Serviço</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<ion-card-title>Cadastradar Serviço</ion-card-title>
			<ion-list>

				<ion-item>
					<ion-label position="floating">Descrição<span style="color:red">*</span></ion-label>
					<ion-input type="text" [(ngModel)]="envio.str_desc"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label position="floating">Equipe<span style="color:red">*</span></ion-label>
					<ion-select placeholder="Selecione equipe" [(ngModel)]="envio.str_equipe" cancelText="Cancelar" okText="Selecionar">
						<ion-select-option *ngFor="let equipe of equipes" value="{{equipe.id}}">
							{{equipe.str_desc}}</ion-select-option>
					</ion-select>
				</ion-item>

				<ion-button expand="full" color="success" slot="end" (click)="salvaDados()">
					Salvar <ion-icon name="save"></ion-icon>
				</ion-button>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Lista dos Itens Cadastrados -->
	<ion-list *ngIf="!nenhumRegistro">
		<ion-searchbar animated mode="ios" showCancelButton="focus" cancelButtonText="Limpar" placeholder="Serviço">
		</ion-searchbar>
		<ion-item class="ion-no-padding">
			<ion-grid>
				<ion-row class="cabecGrid">
					<ion-col size="5" class="ion-text-center">Serviço</ion-col>
					<ion-col size="5" class="ion-text-center">Equipe</ion-col>
					<ion-col size="2" class="ion-text-center">Ação</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item *ngFor="let tipo of arrDispo; index as i">
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col size="5" class="ion-text-center">{{tipo.str_desc}}</ion-col>
					<ion-col size="5" class="ion-text-center">{{tipo.str_equipe_desc}}</ion-col>
					<ion-col size="2" class="ion-text-center">
						<ion-icon ion-button (click)="excluir(tipo)" name="trash" color="danger" size="large">
						</ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

	</ion-list>

	<ion-list class="ion-no-padding">
		<ion-item *ngIf="nenhumRegistro">
			<ion-label>Nenhum Registro Encontrado</ion-label>
		</ion-item>
	</ion-list>

</ion-content>