<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Cadastro de Produto</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let cards of form">
		<ion-card-content>
			<ion-card-title>{{cards.titulo}}</ion-card-title>
			<ion-list>
				<ion-item *ngFor="let campos of cards.campos">
					<ion-label position="floating">{{campos.str_titulo}}</ion-label>
					<ion-input type="{{campos.str_tipo}}" [(ngModel)] = "envio[campos.str_campo]" [ngModelOptions]="{standalone: true}" maxlength="{{campos.int_tam}}"></ion-input>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-fab horizontal="end" vertical="bottom" slot="fixed">
		<ion-fab-button color="success" (click)="salvar()">
			<ion-icon name="save"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>