<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Configurações
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-card-title>Login</ion-card-title>
        <ion-item class="ion-padding-top">
          <ion-label>Ativar Biometria</ion-label>
          <ion-toggle [checked] = 'authBiometria'></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <ion-card-title>Dados Empresa</ion-card-title>
        <ion-item>
          <ion-label position="floating">Código da Empresa</ion-label>
          <ion-input [(ngModel)]="dadosEmp.cod_emp" type="text" placeholder="999999">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nome Empresa</ion-label>
          <ion-input [(ngModel)]="dadosEmp.nome_emp" type="text" disabled>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cnpj</ion-label>
          <ion-input [(ngModel)]="dadosEmp.cnpj" type="text" disabled></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <ion-card-title>Requisição</ion-card-title>
        <ion-item>
          <ion-label position="floating">Endereço Servidor</ion-label>
          <ion-input [(ngModel)]="dadosReq.url_server" type="text" placeholder="https://exemplo.com.br/">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Porta</ion-label>
          <ion-input [(ngModel)]="dadosReq.port_server" type="text" placeholder="80"></ion-input>
        </ion-item>
  
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-title>Autenticação</ion-card-title>
        <ion-item>
          <ion-label>Token Autenticação?</ion-label>
          <ion-checkbox [(ngModel)]="dadosAuth.acToken" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="dadosAuth.acToken">
          <ion-label position="floating">Token</ion-label>
          <ion-input [(ngModel)]="dadosAuth.authToken" type="text" placeholder="723RJBNICVIV732"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Token Identificação?</ion-label>
          <ion-checkbox [(ngModel)]="dadosAuth.acID" slot="start"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="dadosAuth.acID">
          <ion-label position="floating">Token</ion-label>
          <ion-input [(ngModel)]="dadosAuth.idToken" type="text" placeholder="723RJBNICVIV732"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-title>Dispositivo</ion-card-title>
        <ion-item>
          <ion-label>Fabricante</ion-label>
          <ion-input [(ngModel)]="aparelho.manufacturer" type="text" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Modelo</ion-label>
          <ion-input [(ngModel)]="aparelho.model" type="text" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Plataforma</ion-label>
          <ion-input [(ngModel)]="aparelho.platform" type="text" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Versão</ion-label>
          <ion-input [(ngModel)]="aparelho.version" type="text" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Serial</ion-label>
          <ion-input [(ngModel)]="aparelho.serial" type="text" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>UUID</ion-label>
          <ion-input [(ngModel)]="aparelho.uuid" type="text" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Cordova</ion-label>
          <ion-input [(ngModel)]="aparelho.cordova" type="text" disabled></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button expand="block" fill="clear" color="warning" data-desc="Sair" (click)="sairConfig()">
          <ion-icon name="close" style="font-size: 32px"></ion-icon>
        </ion-fab-button>
        <ion-fab-button expand="block" fill="clear" color="success" data-desc="Salvar" (click)="salvaDadosServer()">
          <ion-icon name="save" style="font-size: 32px"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>