<ion-header translucent>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="Voltar"></ion-back-button>
		</ion-buttons>
		<ion-title>Notificações</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div *ngIf="notificacoes.length > 0">
		<ion-card *ngFor="let notifica of notificacoes">
			<ion-card-content (click)="setView(notifica.id)">
				<ion-card-title>{{notifica.str_titulo}}</ion-card-title>

				<ion-item>
					<ion-label>{{notifica.str_msg}}</ion-label>
				</ion-item>

				<ion-item>
					<ion-label>Inclusao: {{app.dtoc(notifica.dat_inclusao)}}</ion-label>
				</ion-item>

				<ion-item *ngIf="notifica.str_flag != ''">
					<ion-label>Visualização: {{app.dtoc(notifica.dat_visualizacao)}}</ion-label>
				</ion-item>

			</ion-card-content>
		</ion-card>
	</div>

	<div *ngIf="notificacoes.length == 0">
			<ion-card>
				<ion-card-content>
					<ion-card-title>Nenhuma Notificação</ion-card-title>
	
					<ion-item>
						<ion-label>Nenhuma Notificação encontrada</ion-label>
					</ion-item>
				</ion-card-content>
			</ion-card>
		</div>

</ion-content>