<ion-header>
	<ion-toolbar>
		<ion-title>{{typeAcao.textHeader}} {{dadosOS.id}} </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label class="ion-text-center ion-text-wrap">{{typeAcao.textBody}}</ion-label>
	</ion-item>
	<ion-grid fixed>
		<ion-row class="cabecGrid">
			<ion-col size="3">Serviço</ion-col>
			<ion-col size="3">Problema</ion-col>
			<ion-col size="3">Prioridade</ion-col>
			<ion-col size="3">Tempo</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="3" class="columnGrid">{{dadosOS.str_servico_desc}}</ion-col>
			<ion-col size="3" class="columnGrid">{{dadosOS.str_problema_desc}}</ion-col>
			<ion-col size="3" class="columnGrid">{{dadosOS.str_prioridade_desc}}</ion-col>
			<ion-col size="3" class="columnGrid">{{dadosOS.dat_inclusao}} {{dadosOS.str_hora_inclusao}}</ion-col>
		</ion-row>
		<ion-row class="cabecGrid-NoRadius">
			<ion-col size="12">Descrição do Relator</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="columnGrid-Left ion-padding-start">{{dadosOS.str_descricao}}</ion-col>
		</ion-row>
	</ion-grid>

	<h4 class="ion-text-center ion-text-wrap">{{typeAcao.textAction}}</h4>

	<!-- Avaliacao da OS-->
	<ion-card *ngIf="typeAcao.acao == 'avaliar'">
		<ion-grid fixed>
			<ion-row>
				<ion-col size="12">Como você avalia o tempo de Atendimento?</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12" class="ion-text-center">
					<ion-icon class="ion-padding" size="large" name="star" 
						[ngClass]="{'active' : avaliacao.int_aval1 >= 1}" (click)="avaliacao.int_aval1 = 1">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval1 >= 2, 'disab' : avaliacao.int_aval1 < 2}" (click)="avaliacao.int_aval1 = 2">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval1 >= 3, 'disab' : avaliacao.int_aval1 < 3}" (click)="avaliacao.int_aval1 = 3">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval1 >= 4, 'disab' : avaliacao.int_aval1 < 4}" (click)="avaliacao.int_aval1 = 4">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval1 == 5, 'disab' : avaliacao.int_aval1 < 5}" (click)="avaliacao.int_aval1 = 5">
					</ion-icon>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12">Como você avalia o Conhecimento do Analista?</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12" class="ion-text-center">
					<ion-icon class="ion-padding" size="large" name="star" 
						[ngClass]="{'active' : avaliacao.int_aval2 >= 1}" (click)="avaliacao.int_aval2 = 1">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval2 >= 2, 'disab' : avaliacao.int_aval2 < 2}" (click)="avaliacao.int_aval2 = 2">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval2 >= 3, 'disab' : avaliacao.int_aval2 < 3}" (click)="avaliacao.int_aval2 = 3">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval2 >= 4, 'disab' : avaliacao.int_aval2 < 4}" (click)="avaliacao.int_aval2 = 4">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval2 == 5, 'disab' : avaliacao.int_aval2 < 5}" (click)="avaliacao.int_aval2 = 5">
					</ion-icon>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12">Como você avalia a Solução do Problema?</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12" class="ion-text-center">
					<ion-icon class="ion-padding" size="large" name="star" [ngClass]="{'active' : avaliacao.int_aval3 >= 1}"
						(click)="avaliacao.int_aval3 = 1">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval3 >= 2, 'disab' : avaliacao.int_aval3 < 2}" (click)="avaliacao.int_aval3 = 2">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval3 >= 3, 'disab' : avaliacao.int_aval3 < 3}" (click)="avaliacao.int_aval3 = 3">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval3 >= 4, 'disab' : avaliacao.int_aval3 < 4}" (click)="avaliacao.int_aval3 = 4">
					</ion-icon>
					<ion-icon class="ion-padding" size="large" name="star"
						[ngClass]="{'active' : avaliacao.int_aval3 == 5, 'disab' : avaliacao.int_aval3 < 5}" (click)="avaliacao.int_aval3 = 5">
					</ion-icon>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12">Em Geral o Atendimento foi?</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12" class="ion-text-center">
					<ion-icon class="ion-padding" size="large" name="thumbs-up" [ngClass]="{'isOK' : avaliacao.int_aval4 == 1, 'disab' : avaliacao.int_aval4 != 1}"
						(click)="avaliacao.int_aval4 = 1"></ion-icon>
					<ion-icon class="ion-padding" size="large" name="thumbs-down" [ngClass]="{'isNOK' : avaliacao.int_aval4 == 2, 'disab' : avaliacao.int_aval4 != 2}"
						(click)="avaliacao.int_aval4 = 2"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-card>

	<ion-card *ngIf="(acompanhamentos)?.length == 0">
		<ion-card-content>
			<ion-card-subtitle>Acompanhamento</ion-card-subtitle>
			<ion-item>
				<ion-label>Nenhum Acompanhamento realizado!</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<div *ngIf="(acompanhamentos)?.length != 0">
		<ion-card *ngFor="let dados of acompanhamentos">
			<ion-item>
				<ion-grid fixed>
					<ion-row>
						<ion-col size="12" style="font-size: 10px;">{{dados.dat_data}} {{dados.str_hora}}</ion-col>
						<ion-col size="12" style="font-size: 12px;">{{dados.str_nome}} <span style="color: #9E9E9E;">
								diz:</span></ion-col>
						<ion-col size="12">
							<ion-item class="ion-no-padding">
								<ion-label>{{dados.str_comentario}}</ion-label>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-col size="12" style="font-size: 12px;">Tempo: {{dados.str_tempo}}</ion-col>
				</ion-grid>
			</ion-item>
		</ion-card>
	</div>

	<div *ngIf="(novoAcompanhamento)?.length != 0">
		<ion-card *ngFor="let dados of novoAcompanhamento">
			<ion-item>
				<ion-label>Data<ion-text color="danger">*</ion-text>
				</ion-label>
				<ion-datetime displayFormat="DD/MM/YY" pickerFormat="DD/MM/YY" [(ngModel)]="dados.dat_relato"
					doneText="Selecionar" [max]="dateMax">
				</ion-datetime>
			</ion-item>

			<ion-item>
				<ion-label>Tempo<ion-text color="danger">*</ion-text>
				</ion-label>
				<ion-input tipe="text" [brmasker]="{mask:'00:00', len:5, type: 'num'}" [(ngModel)]="dados.str_tempo">
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">{{typeAcao.textAction}}<ion-text color="danger">*</ion-text>
				</ion-label>
				<ion-textarea required [(ngModel)]="dados.str_comentario" rows="5"></ion-textarea>
			</ion-item>
		</ion-card>
	</div>

	<ion-fab horizontal="end" vertical="bottom" slot="fixed" class="animated fast fadeInDown">
		<ion-fab-button color="secondary">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button expand="block" fill="clear" color="danger" data-desc="Sair" (click)="closeModal()">
				<ion-icon name="close" style="font-size: 32px"></ion-icon>
			</ion-fab-button>

			<ion-fab-button *ngIf="typeAcao.acao == 'acompanha'" expand="block" fill="clear" color="warning"
				data-desc="Novo" (click)="addAcompanhamento()">
				<ion-icon name="add-circle" style="font-size: 32px"></ion-icon>
			</ion-fab-button>

			<ion-fab-button *ngIf="(novoAcompanhamento)?.length != 0 || typeAcao.acao == 'avaliar'" expand="block"
				fill="clear" color="success" data-desc="Salvar" (click)="salvarAcompanhamento()">
				<ion-icon name="send" style="font-size: 32px"></ion-icon>
			</ion-fab-button>

		</ion-fab-list>
	</ion-fab>
</ion-content>