<ion-tabs>
	<ion-tab-bar slot="bottom">

		<ion-tab-button tab="aberto">
			<ion-icon name="add-circle-outline"></ion-icon>
			<ion-label>Abertas</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="aceitas">
			<ion-icon name="checkmark-circle-outline"></ion-icon>
			<ion-label>Aceitas</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="andamento">
			<ion-icon name="play"></ion-icon>
			<ion-label>Andamento</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="avalia">
			<ion-icon name="star"></ion-icon>
			<ion-label>Avaliação</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="encerrado">
			<ion-icon name="hammer"></ion-icon>
			<ion-label>Encerradas</ion-label>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>