<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Cadastro de Tipo Produto</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<ion-card-title>Cadastradar Tipo</ion-card-title>
			<ion-list>
				<ion-item>
					<ion-label position="floating">Nome<span style="color:red">*</span></ion-label>
					<ion-input type="text" [(ngModel)] = "str_nome"></ion-input>
				</ion-item>
				<ion-button expand="full" color="success" slot="end" (click)="salvaDados()">
					Salvar <ion-icon name="save"></ion-icon>
				</ion-button>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title>Tipos Cadastrados</ion-card-title>
			<ion-list>
				<ion-item *ngFor="let tipo of arrTipos; index as i">
					<ion-label>{{i+1}} - {{tipo.str_nome}}</ion-label>
					<ion-button color="danger" (click)="excluir(tipo)">
						<ion-icon name="trash"></ion-icon>
					</ion-button>
				</ion-item>
			</ion-list>
			<ion-list>
					<ion-item *ngIf="nenhumRegistro">
						<ion-label>Nenhum Registro Encontrado</ion-label>
					</ion-item>
				</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>