<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-header>
				<ion-toolbar>
					
					<!-- Exibe quando não ha notificação -->
					<ion-badge mode="ios" slot="start" *ngIf="notificacao.qtd == 0" (click)="viewNotify()" color="medium">
						<ion-icon name="notifications"></ion-icon>
					</ion-badge>

					<ion-title>Menu</ion-title>
					<ion-badge mode="ios" slot="end" *ngIf="!clima.open" (click)="clima.open = !clima.open">
						{{clima.city}}{{clima.temp}}°C
					</ion-badge>
				</ion-toolbar>
			</ion-header>

			<ion-content>
				<!-- Conteudo dos dados de Usuário -->
				<div>
					<ion-list *ngIf="dadosUser.imagePath != null">
						<ion-item (click)="userInfo()">
							<ion-avatar slot="start" *ngIf="dadosUser.imagePath !=''">
								<img [src]="dadosUser.imagePath" />
							</ion-avatar>
							<ion-label>
								<h2>{{dadosUser.nome}}</h2>
								<h3>{{dadosUser.cargo}}</h3>
								<p>{{dadosUser.email}}</p>
							</ion-label>
						</ion-item>
					</ion-list>
				</div>

				<!-- Conteudo dos dados de Clima -->
				<div *ngIf="clima.open" class="ion-no-padding animated faster" [ngClass]="{'fadeInDown' : clima.open}">
					<ion-card>
						<ion-item color="primary" class="ion-text-center">
							<ion-label>{{clima.city}} {{clima.temp}}°C </ion-label>
							<ion-icon slot="end" name="close" (click)="clima.open = !clima.open"></ion-icon>
						</ion-item>

						<ion-item class="ion-text-center">
							<ion-label>{{clima.description}}</ion-label>
						</ion-item>
						<ion-item class="ion-text-center">
							<ion-label>Umidade: {{clima.humidity}}%</ion-label>
						</ion-item>
						<ion-item class="ion-text-center">
							<ion-label>Vento: {{clima.wind_speedy}}</ion-label>
						</ion-item>
					</ion-card>
				</div>

				<div>
						<!-- Conteudo de Notificação -->
					<ion-item *ngIf="notificacao.qtd > 0">
						<!-- Exibe quando ha notificação -->
						<ion-button  expand="block" fill="outline" color="danger" mode="ios"
							(click)="viewNotify()">
							<ion-icon slot="start" name="notifications"></ion-icon>
							<ion-label>{{notificacao.qtd}} {{notificacao.text}}</ion-label>
						</ion-button>
					</ion-item>

					<ion-item>
						<ion-searchbar animated mode="ios" showCancelButton="focus" cancelButtonText="Limpar"
							placeholder="Menu"></ion-searchbar>
					</ion-item>

				</div>

				<!-- Barra de Pesquisa -->
				<!-- <div>
				</div> -->

				<!-- Paginas de Menu -->
				<div *ngFor="let p of appPages" class="ion-no-padding animated faster"
					[ngClass]="{'slideInUp' : !clima.open}">
					<ion-menu-toggle auto-hide="false" *ngIf="!p.children">
						<ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
							<ion-icon slot="start" [name]="p.icon"></ion-icon>
							<ion-label>
								{{p.title}}
							</ion-label>
						</ion-item>
					</ion-menu-toggle>

					<ion-list *ngIf="p.children">
						<ion-item button (click)="p.open = !p.open" [ngClass] = "{'active' : p.open}">
							<ion-icon slot="start" name="arrow-dropright" *ngIf="!p.open"></ion-icon>
							<ion-icon slot="start" name="arrow-dropdown" *ngIf="p.open"></ion-icon>
							<ion-label>{{p.title}}</ion-label>
						</ion-item>

						<ion-list *ngIf="p.open">
							<div *ngFor="let sub of p.children">
								<ion-menu-toggle>
									<ion-item class="sub-item animated faster fadeIn" [routerDirection]="'root'"
										[routerLink]="[sub.url]">
										<ion-icon slot="start" [name]="sub.icon"></ion-icon>
										<ion-label>{{sub.title}}</ion-label>
									</ion-item>
								</ion-menu-toggle>
							</div>
						</ion-list>
					</ion-list>
				</div>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>