<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Cadastrar Prioridades</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<ion-card-title>Cadastradar Prioridade</ion-card-title>
			<ion-list>
				<ion-item>
					<ion-label position="floating">Descrição<span style="color:red">*</span></ion-label>
					<ion-input type="text" [(ngModel)]="str_desc"></ion-input>
				</ion-item>
				<ion-button expand="full" color="success" slot="end" (click)="salvaDados()">
					Salvar <ion-icon name="save"></ion-icon>
				</ion-button>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card>
			<ion-card-content>
				<ion-card-title>Prioridades Cadastradas</ion-card-title>
				
				<ion-list *ngIf="!nenhumRegistro">
						<ion-searchbar animated mode="ios" showCancelButton="focus" cancelButtonText="Limpar" placeholder="Prioridade"></ion-searchbar>
					<ion-item>
						<ion-grid>
							<ion-row class="cabecGrid">
								<ion-col size="10" class="ion-text-center ">Prioridade</ion-col>
								<ion-col size="2" class="ion-text-center">Ação</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
	
					<ion-item *ngFor="let tipo of arrDispo; index as i">
						<ion-grid>
							<ion-row>
								<ion-col size="10" class="ion-text-center">{{tipo.str_desc}}</ion-col>
								<ion-col size="2" class="ion-text-center">
									<ion-button color="danger" (click)="excluir(tipo)">
										<ion-icon name="trash"></ion-icon>
									</ion-button>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
	
				</ion-list>
	
				<ion-list>
					<ion-item *ngIf="nenhumRegistro">
						<ion-label>Nenhum Registro Encontrado</ion-label>
					</ion-item>
				</ion-list>
	
			</ion-card-content>
		</ion-card>
</ion-content>