<ion-content class="background" ion-fixed>
	<!-- <ion-row class="ion-justify-content-center">
			<h2>audPro - Auditoria de Produtos</h2>
		</ion-row> -->

	<ion-grid style="height: 100%">
		<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
			<ion-card class="card animated fast fadeIn">
				<ion-card-content>

					<ion-row class="ion-justify-content-center">
						<!-- <ion-icon name="person" style="font-size: 92px"></ion-icon> -->
						<img src="{{urlImg}}" class="classImg animated fadeInDown">
					</ion-row>

					<ion-grid>
						<ion-row>
							<ion-col>
								<ion-item class="animated fadeInUp">
									<ion-label position="floating">Login</ion-label>
									<ion-input type="email" [(ngModel)] = "user.str_login"></ion-input>
								</ion-item>
							</ion-col>
						</ion-row>

						<ion-row>
							<ion-col>
								<ion-item class="animated fadeInUp">
									<ion-label position="floating">Senha</ion-label>
									<ion-input type="password" [(ngModel)]="user.str_senha"></ion-input>
								</ion-item>
							</ion-col>
						</ion-row>
					</ion-grid>

					<!-- Botao de login -->
					<ion-button (click)="login()" expand="block" class="animated fadeInUp">
						Login <ion-icon name="lock"></ion-icon>
					</ion-button>
					<!-- </form> -->
				</ion-card-content>
			</ion-card>
		</ion-row>
	</ion-grid>
</ion-content>