<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Ordens Aceitas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- Inserre um "arrastar e soltar" -->
	<ion-refresher slot="fixed" mode="ios" (ionRefresh)="atualizar($event)">
		<ion-refresher-content pullingText="Puxe para atualizar" refreshingText="Atualizando...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-item>
		<ion-label class="ion-text-wrap ion-text-center">Aqui estão as Ordens de Serviços que estão aceitas mas ainda não estão em execução</ion-label>
	</ion-item>

	<div *ngIf="(oService)?.length > 0">

		<ion-item>
			<ion-searchbar animated mode="ios" showCancelButton="focus" cancelButtonText="Limpar" placeholder="Número"
				(ionChange)="filter($event.detail.value)"></ion-searchbar>
		</ion-item>

		<ion-card *ngFor="let dados of oService | filterBy: textoBusca ; index as i " class="animated faster fadeInUp">
			<ion-card-content>
				<ion-item>
					<h1>OS nº {{dados.id}}</h1>
					<span slot="end" class="animated delay-1s fadeOutRight">Atendimento</span>
					<ion-icon name="play" slot="end" (click)="iniciarAtendimento(dados, i)" class="animated delay-1s fadeInRight"></ion-icon>
				</ion-item>
				<ion-card-subtitle class="ion-padding-start">{{dados.str_prioridade_desc}}</ion-card-subtitle>
				<ion-list>
					<ion-item>
						<ion-label>
							<h1>{{dados.str_servico_desc}}</h1>
							<h2>{{dados.str_problema_desc}}</h2>
							<h3>{{dados.str_equipe_desc}}</h3>
							<h3>{{dados.id_analista_desc}}</h3>
							<h4>{{dados.dat_inclusao}} ás {{dados.str_hora_inclusao}}</h4>
							<ion-item-divider>
									<h3>{{dados.str_descricao}}</h3>
								</ion-item-divider>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-card-content>
		</ion-card>
	</div>

	<div *ngIf="(oService)?.length == 0">
		<ion-card>
			<h4 class="ion-text-center">Nenhuma Ordem de Serviço</h4>
		</ion-card>
	</div>
</ion-content>