/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/animate.css";

.cabecGrid {
  background-color: #424242;
  color: aliceblue;
  font-size: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.cabecGrid-NoRadius {
  background-color: #424242;
  color: aliceblue;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

.columnGrid {
  color: #212121;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
}

.columnGrid-Left {
  color: #212121;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
}

.columnGrid-right {
  color: #212121;
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 40px;
  bottom: 4px;
  background-color: #37474f;
  padding: 5px;
  border-radius: 15px;
  color: #cfd8dc;
  transform: rotate(-5deg);
  margin-right: 2px;
}
