<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Bem vindo,
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- Card de Chamados Abertos Recentemente -->
	<ion-card>
		<ion-card-content>
			<ion-card-title (click)="show.Recentes = !show.Recentes">Chamados Abertos Recentes
				<ion-badge style="vertical-align: middle;" color="secondary" mode="ios"
					*ngIf="(osHome.qtdAberto)?.qtd > 0">{{osHome.qtdAberto.qtd}}</ion-badge>
			</ion-card-title>
			<ion-list *ngIf="show.Recentes" class="animated faster fadeInDown">
				<div *ngFor="let os of osHome.osAbertas">
					<ion-item (click)="os.showDetalhes = !os.showDetalhes">
						<ion-label>
							<h2><span style="font-weight: 700">{{os.str_servico_desc}}</span>
								<ion-icon style="vertical-align: middle;" name="arrow-dropright"></ion-icon>
								{{os.str_problema_desc}}
							</h2>
							<h5 class="ion-padding-start">Aberto em: {{os.dat_inclusao}} ás
								{{os.str_hora_inclusao}}</h5>
						</ion-label>
						<ion-icon slot="end" name="eye-off" *ngIf="os.showDetalhes"></ion-icon>
						<ion-icon slot="end" name="eye" *ngIf="!os.showDetalhes"></ion-icon>

					</ion-item>
					<ion-item *ngIf="os.showDetalhes" class="ion-padding-start animated faster flipInX">
						<ion-label>
							<h2>Descrição: {{os.str_descricao}}</h2>
							<h5>Relator: {{os.str_relator}}</h5>
							<h5>Prioridade: {{os.str_prioridade_desc}}</h5>
						</ion-label>
					</ion-item>
				</div>
				<ion-item (click)="verTodas('os_listar/os_listar/aberto')">
					<ion-label>
						<h3 class="ion-text-center">Ver Todos</h3>
					</ion-label>
					<ion-icon name="open" slot="end"></ion-icon>
				</ion-item>
			</ion-list>
			<ion-item *ngIf="(osHome.osAbertas)?.length == 0">
				<ion-label>
					<h5>Nenhuma Ordem de Serviço a ser Exibido!</h5>
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<!-- Card de Chamados em Andamanto -->
	<ion-card>
		<ion-card-content>
			<ion-card-title>Chamados em Andamentos
				<ion-badge (click)="show.Andamento = !show.Andamento" style="vertical-align: middle;" color="secondary"
					mode="ios" *ngIf="(osHome.qtdAndamento)?.qtd > 0">{{osHome.qtdAndamento.qtd}}</ion-badge>
			</ion-card-title>
			<ion-list *ngIf="show.Andamento">
				<div *ngFor="let os of osHome.osAndamento">
					<ion-item (click)="os.showDetalhes = !os.showDetalhes">
						<ion-label>
							<h2><span style="font-weight: 700">{{os.str_servico_desc}}</span>
								<ion-icon style="vertical-align: middle;" name="arrow-dropright"></ion-icon>
								{{os.str_problema_desc}}
							</h2>
							<h5 class="ion-padding-start">Aberto em: {{os.dat_inclusao}} ás
								{{os.str_hora_inclusao}}</h5>
						</ion-label>
						<ion-icon slot="end" name="eye-off" *ngIf="os.showDetalhes"></ion-icon>
						<ion-icon slot="end" name="eye" *ngIf="!os.showDetalhes"></ion-icon>

					</ion-item>
					<ion-item *ngIf="os.showDetalhes" class="ion-padding-start animated faster flipInX">
						<ion-label>
							<h2>Descrição: {{os.str_descricao}}</h2>
							<h5>Relator: {{os.str_relator}}</h5>
							<h5>Prioridade: {{os.str_prioridade_desc}}</h5>
						</ion-label>
					</ion-item>
				</div>

				<ion-item (click)="verTodas('os_listar/os_listar/andamento')">
					<ion-label>
						<h3 class="ion-text-center">Ver Todos</h3>
					</ion-label>
					<ion-icon name="open" slot="end"></ion-icon>
				</ion-item>

			</ion-list>
			<ion-item *ngIf="(osHome.osAndamento)?.length == 0">
				<ion-label>
					<h5>Nenhuma Ordem de Serviço a ser Mostrada!</h5>
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<!-- Card dos 5 ultimos chamados encerrados -->
	<ion-card>
		<ion-card-content>
			<ion-card-title>Chamados Encerrados
				<ion-badge (click)="show.Encerrados = !show.Encerrados" style="vertical-align: middle;" color="secondary"
					mode="ios" *ngIf="(osHome.qtdEncerrados)?.qtd > 0">{{osHome.qtdEncerrados.qtd}}</ion-badge>
			</ion-card-title>
			<ion-list *ngIf="show.Encerrados">
				<div *ngFor="let os of osHome.osEncerrados">
					<ion-item (click)="os.showDetalhes = !os.showDetalhes">
						<ion-label>
							<h2><span style="font-weight: 700">{{os.str_servico_desc}}</span>
								<ion-icon style="vertical-align: middle;" name="arrow-dropright"></ion-icon>
								{{os.str_problema_desc}}
							</h2>
							<h5 class="ion-padding-start">Aberto em: {{os.dat_inclusao}} ás
								{{os.str_hora_inclusao}}</h5>
						</ion-label>
						<ion-icon slot="end" name="eye-off" *ngIf="os.showDetalhes"></ion-icon>
						<ion-icon slot="end" name="eye" *ngIf="!os.showDetalhes"></ion-icon>

					</ion-item>
					<ion-item *ngIf="os.showDetalhes" class="ion-padding-start animated faster flipInX">
						<ion-label>
							<h2>Descrição: {{os.str_descricao}}</h2>
							<h5>Relator: {{os.str_relator}}</h5>
							<h5>Prioridade: {{os.str_prioridade_desc}}</h5>
						</ion-label>
					</ion-item>
				</div>

				<ion-item (click)="verTodas('os_listar/os_listar/encerrado')">
					<ion-label>
						<h3 class="ion-text-center">Ver Todos</h3>
					</ion-label>
					<ion-icon name="open" slot="end"></ion-icon>
				</ion-item>

			</ion-list>
			<ion-item *ngIf="(osHome.osEncerrados)?.length == 0">
				<ion-label>
					<h5>Nenhuma Ordem de Serviço a ser Exibida!</h5>
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title size="small" translucent="true" mode="ios">Licenciado para: EMPRESA</ion-title>
	</ion-toolbar>
</ion-footer>