<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Abertura de OS</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<h1 class="ion-text-center">Em que podemos te ajudar hoje?</h1>
			<h4 class="ion-text-center">Preencha o formulario a baixo para melhor entendermos a sua necessidade</h4>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-subtitle>Informações</ion-card-subtitle>

			<ion-item>
				<ion-label position="floating">Equipe</ion-label>
				<ion-select placeholder="Quem poderá resolver é.." mode="ios" [(ngModel)]="envio.str_equipe" cancelText="Cancelar" okText="Selecionar" (ionChange)="getServicos()">
					<ion-select-option *ngFor="let equipe of equipes" value="{{equipe.id}}">{{equipe.str_desc}}</ion-select-option>
				</ion-select>
			</ion-item>

			<ion-item *ngIf="envio.str_equipe" class="animated faster fadeInUp">
				<ion-label position="floating">Serviço</ion-label>
				<ion-select placeholder="Problema com Serviço de..." mode="ios" [(ngModel)]="envio.str_servico" cancelText="Cancelar" okText="Selecionar" (ionChange)="getProblemas()">
						<ion-select-option *ngFor="let servico of servicos" value="{{servico.id}}">{{servico.str_desc}}</ion-select-option>
					</ion-select>
			</ion-item>

			<ion-item *ngIf="envio.str_servico" class="animated faster fadeInUp">
				<ion-label position="floating">Problema</ion-label>
				<ion-select placeholder="Meu problema é..." mode="ios" [(ngModel)]="envio.str_problema" cancelText="Cancelar" okText="Selecionar" (ionChange)="getPrioridades()">
						<ion-select-option *ngFor="let problema of problemas" value="{{problema.id}}">{{problema.str_desc}}</ion-select-option>
					</ion-select>
			</ion-item>

			<ion-item *ngIf="envio.str_problema" class="animated faster fadeInUp">
				<ion-label position="floating">Prioridade</ion-label>
				<ion-select placeholder="A prioridade é..." mode="ios" [(ngModel)]="envio.str_prioridade" cancelText="Cancelar" okText="Selecionar">
						<ion-select-option *ngFor="let prioridade of prioridades" value="{{prioridade.id}}">{{prioridade.str_desc}}</ion-select-option>
					</ion-select>
			</ion-item>

			<ion-item *ngIf="envio.str_problema" class="animated faster fadeInUp">
				<ion-label position="floating">Descrição</ion-label>
				<ion-textarea placeholder="Descreva um pouco sobre o problema que esta enfrentando..." mode="ios" [(ngModel)] = "envio.str_descricao">
				</ion-textarea>
			</ion-item>

		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="envio.str_descricao" class="animated faster fadeInLeft">
		<ion-card-content>
			<ion-card-subtitle>Complemento</ion-card-subtitle>

			<ion-item>
				<ion-label>Este Problema é reincidente?</ion-label>
				<ion-checkbox mode="ios" color="danger" [(ngModel)] = "envio.str_reinicidencia"></ion-checkbox>
			</ion-item>
			
			<ion-item>
				<ion-label id="profile_image" stacked>Evidência</ion-label>
				<ion-input mode="ios" type="file" slot="end" [(ngModel)] = "envio.blb_evidencia"></ion-input>
			</ion-item>

		</ion-card-content>
	</ion-card>

	<ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="envio.str_descricao" class="animated fast fadeInDown">
		<ion-fab-button color="secondary">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button expand="block" fill="clear" color="warning" data-desc="Sair">
				<ion-icon name="close" style="font-size: 32px"></ion-icon>
			</ion-fab-button>

			<ion-fab-button expand="block" fill="clear" color="success" data-desc="Abrir OS" (click)="salvaDados()">
				<ion-icon name="send" style="font-size: 32px"></ion-icon>
			</ion-fab-button>

		</ion-fab-list>
	</ion-fab>
</ion-content>