ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 40px;
    bottom: 4px;
    background-color: #37474F;
    padding: 5px;
    border-radius: 15px;
    color: #CFD8DC;
    transform: rotate(-15deg);
    margin-right: 2px;
  }